<!DOCTYPE html>
<html>
<head>
  <title>All Products</title>
</head>
<body>
  <h1>All Products</h1>
  {{#each products}}
    <div class="product">
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <p>Price: ${{price}}</p>
      <p>In Stock: {{stock}}</p>
      <p>Category: {{category}}</p>
      <a href="/api/products/{{_id}}">View Details</a>
      <form action="/products/add-to-cart/{{_id}}" method="POST">
        <button type="submit">Add to Cart</button>
      </form>
    </div>
  {{/each}}
</body>
</html>
